<!DOCTYPE hibernate-configuration SYSTEM
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">
        com.mysql.jdbc.Driver
    </property>
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/extractor?useUnicode=true&amp;connectionCollation=utf8_general_ci&amp;characterSetResults=utf8</property>
    <property name="hibernate.connection.username">
        root
    </property>
    <property name="hibernate.connection.password">
    	influx1234
    </property>
     <property name="hibernate.dialect">
        org.hibernate.dialect.MySQLInnoDBDialect
    </property>
    <!-- Use the C3P0 connection pool provider -->
    <!-- Add by Shockley -->
    
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">300</property>
    <property name="hibernate.c3p0.max_statements">50</property>
    <property name="hibernate.c3p0.idle_test_period">3000</property>
    <!-- Show and print nice SQL on stdout -->
    <property name="show_sql">false</property>
    <property name="format_sql">true</property>
	
	<!-- current_session_context_class -->
	<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
	
	<mapping class="my.dao.Attribute" ></mapping>
	<mapping class="my.dao.Forge" ></mapping>
	<mapping class="my.dao.MatchPath" ></mapping>
	<mapping class="my.dao.MaxMatchPath" ></mapping>
	<mapping class="my.dao.Path" ></mapping>
	<mapping class="my.dao.Project" ></mapping>
	<mapping class="my.dao.Seed" ></mapping>
	<mapping class="my.dao.Value" ></mapping>
	<mapping class="my.dao.Alias" ></mapping>
	<mapping class="my.dao.RelativePath" ></mapping>
	<mapping class="my.dao.DistinctRP" ></mapping>
  </session-factory>
</hibernate-configuration>